@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar-hide";

@theme inline {
  --font-akira: var(--font-akira);
  --font-trueno-black: var(--font-trueno-black);
  --font-trueno-bold: var(--font-trueno-bold);
  --font-trueno-regular: var(--font-trueno-regular);
  --font-trueno-light: var(--font-trueno-light);
  --font-montserrat: var(--font-montserrat);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* text-white */
}

.social-link:hover {
  background-color: rgba(50, 67, 166, 0.9); /* hover:bg-[#3243A6]/90 */
}

.social-link:focus-visible {
  outline: none; /* focus-visible:outline-none */
  box-shadow: 0 0 0 1px var(--ring-color, #000); /* focus-visible:ring-1 focus-visible:ring-ring */
}

.social-link:disabled {
  pointer-events: none; /* disabled:pointer-events-none */
  opacity: 0.5; /* disabled:opacity-50 */
}

html {
  scrollbar-width: none !important;

  scrollbar-color: #3243a6 #ffffff;
}

::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #3243a6;
  border-radius: 8px;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
  transform-origin: top;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
  transform-origin: top;
}

.accordionContent[data-state="open"] {
  animation: accordion-down 0.2s ease-out;
  transform-origin: top;
}

.accordionContent[data-state="closed"] {
  animation: accordion-up 0.2s ease-out;
  transform-origin: top;
}
